<footer>
    <p>&copy; All Rights Reserved</p>
    <a target="_blank" href="https://github.com/abdi-hu/cars-expo">
        <img src="/imgs/github.png" alt="github-icon">
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/abdisamad-hussein/">
        <img src="/imgs/linkedin.png" alt="linkedin-icon">
    </a>
</footer>
</body>

</html>