<header>
    <nav>
        <ul>
            <li class="nav-links">Home</li>
            <li class="nav-links">All Cars</li>
            <li class="nav-links">Login/Logout</li>
            <li href="/cars/new" class="nav-links">Add New Car</li>
        </ul>
    </nav>
    <h1>
        <%=title%>
    </h1>
</header>