<header>
    <nav>
        <a href="/">
            <img src="/imgs/home-car-icon.png" alt="home-icon">
        </a>
        <a class="nav-links" href="/">Home</a>
        <a class="nav-links" href="/cars">Inventory</a>
        <a class="nav-links" href="/cars/new">Add Car</a>
        <%if(loggedIn) {%>
            <a class="nav-links" href="/users/logout">Logout</a>
            <%} else {%>
                <a class="nav-links" href="/users/signin">Login</a>
                <%}%>
    </nav>
    <h1>
        <%=title%>
    </h1>
</header>