<header>
    <nav>
        <a class="nav-links" href="/">Home</a>
        <a class="nav-links" href="/cars">Inventory</a>
        <a class="nav-links" href="/cars/new">Add Car</a>
        <a class="nav-links" href="#">Login/Logout</a>
    </nav>
    <h1>
        <%=title%>
    </h1>
</header>