<%- include('partials/header')%>
<main>
	<div id="home-page">
		<p>Please Login or Register to view our inventory</p>
		<a class="nav-links" href="/users/signin">Login</a>
		<a class="nav-links" href="/users/new">Register</a>
	</div>
</main>
<%- include('partials/footer')%>
