<%- include('partials/header')%>
<main>
	<div id="home-page">
		<%if(loggedIn) {%>
		<p>Welcome <%=loggedIn.firstName%>!</p>
		<%} else {%>
		<p>Please Login to view our inventory</p>
		<%}%>
	</div>
</main>
<%- include('partials/footer')%>
