nav {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
.nav-links {
    display: inline;
}
h1 {
    text-align: center;
}
img {
    max-width: 250px;
}

.car-container {
    display: flex;
}

