<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <fieldset>
                <form action="/users/login" method="POST">
                    <label>Username:
                        <input type="text" name="username">
                    </label>
                    <label>Password:
                        <input type="password" name="password">
                    </label>
                    <input type="submit" value="Login">
                </form>
            </fieldset>
            <a href="/users/new">Register</a>
    </body>

    </html>