<%- include('../partials/header')%>
    <div class="container">
        <form action="/users/login" method="POST">
            <fieldset>
                <legend>Login</legend>
                <label>Username:
                    <input type="text" name="username">
                </label>
                <label>Password:
                    <input type="password" name="password">
                </label>
                <input type="submit" value="Login">
                <a href="/users/new">Register</a>
            </fieldset>
        </form>
    </div>
    </body>

    </html>